/* Ganti background dashboard */
.fi-body {
    background-image: url("/storage/images/excavator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
